@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0 0;
  --foreground: 208 208 208;
  --highlight: 255 101 0;
  --link: 67 121 242;
  --orange: 199 152 33;
  --shade: 31 31 31;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #d0d0d0;
    --highlight: #ff6500;
    --link: #4379f2;
  }
} */

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-family: 'Ubuntu Mono', monospace;
}

*::selection {
  background-color: rgb(var(--highlight));
  color: rgb(var(--background));
}

.shd {
  box-shadow: 2px 2px 18px rgba(var(--foreground, 1)),
    -2px -2px 18px rgba(var(--foreground, 1));
}

.gradient {
  background: radial-gradient(
    circle,
    rgb(var(--foreground)) 0%,
    rgb(var(--background)) 55%
  );
}

::-webkit-scrollbar {
  display: block;
  background-color: rgb(var(--background));
  width: 0.7em;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(var(--foreground));
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.animate-text {
  animation: gradient 6s ease-in-out infinite;
  background-clip: text !important;
  color: transparent !important;
  background-size: 180% 180% !important;
  background: linear-gradient(
    135deg,
    #fed90f,
    #00e1ff,
    #09f1b8,
    #00b7ff,
    #fed90f,
    #00e1ff,
    #09f1b8,
    #00b7ff
  );
}

@keyframes gradient {
  0%,
  100% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 100%;
  }
}
